<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>scheduleType</key>
		<string>Normal</string>
		<key>bellTimes</key>
		<array>
			<dict>
				<key>desc</key>
				<string>Before School</string>
				<key>timeInterval</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 0</string>
				<key>timeInterval</key>
				<integer>25800</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 0</string>
				<key>timeInterval</key>
				<integer>26100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 1</string>
				<key>timeInterval</key>
				<integer>29100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 1</string>
				<key>timeInterval</key>
				<real>29400</real>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 2</string>
				<key>timeInterval</key>
				<integer>32400</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 2</string>
				<key>timeInterval</key>
				<integer>32700</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Brunch</string>
				<key>timeInterval</key>
				<integer>36000</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 3</string>
				<key>timeInterval</key>
				<integer>36600</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 3</string>
				<key>timeInterval</key>
				<integer>36900</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 4</string>
				<key>timeInterval</key>
				<integer>39900</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 4</string>
				<key>timeInterval</key>
				<integer>40200</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Lunch</string>
				<key>timeInterval</key>
				<integer>43200</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 5</string>
				<key>timeInterval</key>
				<integer>45900</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 5</string>
				<key>timeInterval</key>
				<integer>46200</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 6</string>
				<key>timeInterval</key>
				<integer>49200</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 6</string>
				<key>timeInterval</key>
				<integer>49500</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 7</string>
				<key>timeInterval</key>
				<integer>52500</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 7</string>
				<key>timeInterval</key>
				<integer>55800</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>After School</string>
				<key>timeInterval</key>
				<real>55800</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Tutorial</string>
		<key>bellTimes</key>
		<array>
			<dict>
				<key>desc</key>
				<string>Before School</string>
				<key>timeInterval</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 0</string>
				<key>timeInterval</key>
				<integer>26100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 0</string>
				<key>timeInterval</key>
				<integer>26400</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 1</string>
				<key>timeInterval</key>
				<integer>29100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 1</string>
				<key>timeInterval</key>
				<integer>29400</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 2</string>
				<key>timeInterval</key>
				<real>32100</real>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 2</string>
				<key>timeInterval</key>
				<integer>32400</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Brunch</string>
				<key>timeInterval</key>
				<integer>35400</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 3</string>
				<key>timeInterval</key>
				<integer>36000</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 3</string>
				<key>timeInterval</key>
				<integer>36300</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Tutorial</string>
				<key>timeInterval</key>
				<integer>39000</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Tutorial</string>
				<key>timeInterval</key>
				<integer>39300</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 4</string>
				<key>timeInterval</key>
				<integer>41100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 4</string>
				<key>timeInterval</key>
				<integer>41400</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Lunch</string>
				<key>timeInterval</key>
				<integer>44100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 5</string>
				<key>timeInterval</key>
				<integer>46800</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 5</string>
				<key>timeInterval</key>
				<integer>47100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 6</string>
				<key>timeInterval</key>
				<integer>49800</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 6</string>
				<key>timeInterval</key>
				<integer>50100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 7</string>
				<key>timeInterval</key>
				<integer>52800</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 7</string>
				<key>timeInterval</key>
				<integer>53100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>After School</string>
				<key>timeInterval</key>
				<real>55800</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Even Block</string>
		<key>bellTimes</key>
		<array>
			<dict>
				<key>desc</key>
				<string>Before School</string>
				<key>timeInterval</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 0</string>
				<key>timeInterval</key>
				<integer>25800</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 0</string>
				<key>timeInterval</key>
				<real>26100</real>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 2</string>
				<key>timeInterval</key>
				<integer>31500</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 2</string>
				<key>timeInterval</key>
				<integer>31800</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Brunch</string>
				<key>timeInterval</key>
				<integer>37500</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 4</string>
				<key>timeInterval</key>
				<integer>38400</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 4</string>
				<key>timeInterval</key>
				<integer>38700</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Lunch</string>
				<key>timeInterval</key>
				<integer>44100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 6</string>
				<key>timeInterval</key>
				<integer>46800</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 6</string>
				<key>timeInterval</key>
				<integer>47100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>After School</string>
				<key>timeInterval</key>
				<real>52500</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Odd Block</string>
		<key>bellTimes</key>
		<array>
			<dict>
				<key>desc</key>
				<string>Before School</string>
				<key>timeInterval</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 1</string>
				<key>timeInterval</key>
				<integer>29100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 1</string>
				<key>timeInterval</key>
				<integer>29400</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Brunch</string>
				<key>timeInterval</key>
				<integer>35100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 3</string>
				<key>timeInterval</key>
				<integer>36000</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 3</string>
				<key>timeInterval</key>
				<integer>36300</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Lunch</string>
				<key>timeInterval</key>
				<integer>41700</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 5</string>
				<key>timeInterval</key>
				<real>44400</real>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 5</string>
				<key>timeInterval</key>
				<real>44700</real>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 7</string>
				<key>timeInterval</key>
				<integer>50100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 7</string>
				<key>timeInterval</key>
				<integer>50400</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>After School</string>
				<key>timeInterval</key>
				<integer>55800</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Assembly</string>
		<key>bellTimes</key>
		<array>
			<dict>
				<key>desc</key>
				<string>Before School</string>
				<key>timeInterval</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 0</string>
				<key>timeInterval</key>
				<integer>26100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 0</string>
				<key>timeInterval</key>
				<integer>26400</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 1</string>
				<key>timeInterval</key>
				<integer>29100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 1</string>
				<key>timeInterval</key>
				<real>29400</real>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 2</string>
				<key>timeInterval</key>
				<integer>32100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 2/Assembly A</string>
				<key>timeInterval</key>
				<integer>32400</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 2/Assembly B</string>
				<key>timeInterval</key>
				<integer>35100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Brunch</string>
				<key>timeInterval</key>
				<integer>37500</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 3</string>
				<key>timeInterval</key>
				<integer>38100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 3</string>
				<key>timeInterval</key>
				<integer>38400</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 4</string>
				<key>timeInterval</key>
				<integer>41100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 4</string>
				<key>timeInterval</key>
				<integer>41400</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Lunch</string>
				<key>timeInterval</key>
				<integer>44100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 5</string>
				<key>timeInterval</key>
				<real>46800</real>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 5</string>
				<key>timeInterval</key>
				<integer>47100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 6</string>
				<key>timeInterval</key>
				<integer>49800</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 6</string>
				<key>timeInterval</key>
				<integer>50100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 7</string>
				<key>timeInterval</key>
				<integer>52800</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 7</string>
				<key>timeInterval</key>
				<integer>53100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>After School</string>
				<key>timeInterval</key>
				<real>55800</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Finals - Wednesday</string>
		<key>bellTimes</key>
		<array>
			<dict>
				<key>desc</key>
				<string>Before School</string>
				<key>timeInterval</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 2</string>
				<key>timeInterval</key>
				<real>29100</real>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 2</string>
				<key>timeInterval</key>
				<integer>29400</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Brunch</string>
				<key>timeInterval</key>
				<integer>35100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 6</string>
				<key>timeInterval</key>
				<real>36300</real>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 6</string>
				<key>timeInterval</key>
				<real>36600</real>
			</dict>
			<dict>
				<key>desc</key>
				<string>Lunch</string>
				<key>timeInterval</key>
				<integer>42300</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 7</string>
				<key>timeInterval</key>
				<integer>45000</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 7</string>
				<key>timeInterval</key>
				<integer>45300</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>After School</string>
				<key>timeInterval</key>
				<integer>51000</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Finals - Thursday</string>
		<key>bellTimes</key>
		<array>
			<dict>
				<key>desc</key>
				<string>Before School</string>
				<key>timeInterval</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 0</string>
				<key>timeInterval</key>
				<real>29100</real>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 0</string>
				<key>timeInterval</key>
				<real>29400</real>
			</dict>
			<dict>
				<key>desc</key>
				<string>Brunch</string>
				<key>timeInterval</key>
				<integer>35100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 1</string>
				<key>timeInterval</key>
				<real>36300</real>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 1</string>
				<key>timeInterval</key>
				<real>36600</real>
			</dict>
			<dict>
				<key>desc</key>
				<string>Lunch</string>
				<key>timeInterval</key>
				<integer>42300</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 5</string>
				<key>timeInterval</key>
				<real>45000</real>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 5</string>
				<key>timeInterval</key>
				<real>45300</real>
			</dict>
			<dict>
				<key>desc</key>
				<string>After School</string>
				<key>timeInterval</key>
				<integer>51000</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Finals - Friday</string>
		<key>bellTimes</key>
		<array>
			<dict>
				<key>desc</key>
				<string>Before School</string>
				<key>timeInterval</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 3</string>
				<key>timeInterval</key>
				<real>29100</real>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 3</string>
				<key>timeInterval</key>
				<real>29400</real>
			</dict>
			<dict>
				<key>desc</key>
				<string>Brunch</string>
				<key>timeInterval</key>
				<integer>35100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 4</string>
				<key>timeInterval</key>
				<real>36300</real>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 4</string>
				<key>timeInterval</key>
				<real>36600</real>
			</dict>
			<dict>
				<key>desc</key>
				<string>After School</string>
				<key>timeInterval</key>
				<real>42300</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Modified Even Block</string>
		<key>bellTimes</key>
		<array>
			<dict>
				<key>desc</key>
				<string>Before School</string>
				<key>timeInterval</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 0</string>
				<key>timeInterval</key>
				<integer>25800</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 0</string>
				<key>timeInterval</key>
				<real>26100</real>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 2</string>
				<key>timeInterval</key>
				<integer>29700</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 2</string>
				<key>timeInterval</key>
				<integer>30000</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Brunch</string>
				<key>timeInterval</key>
				<integer>33600</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 4</string>
				<key>timeInterval</key>
				<integer>34200</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 4</string>
				<key>timeInterval</key>
				<integer>34500</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 6</string>
				<key>timeInterval</key>
				<integer>38100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 6</string>
				<key>timeInterval</key>
				<integer>38400</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>After School</string>
				<key>timeInterval</key>
				<integer>42000</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Modified Odd Block</string>
		<key>bellTimes</key>
		<array>
			<dict>
				<key>desc</key>
				<string>Before School</string>
				<key>timeInterval</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 1</string>
				<key>timeInterval</key>
				<integer>29100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 1</string>
				<key>timeInterval</key>
				<integer>29400</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 3</string>
				<key>timeInterval</key>
				<integer>33000</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 3</string>
				<key>timeInterval</key>
				<integer>33300</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Brunch</string>
				<key>timeInterval</key>
				<integer>36900</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 5</string>
				<key>timeInterval</key>
				<integer>37500</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 5</string>
				<key>timeInterval</key>
				<integer>37800</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 7</string>
				<key>timeInterval</key>
				<integer>41400</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 7</string>
				<key>timeInterval</key>
				<integer>41700</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>After School</string>
				<key>timeInterval</key>
				<integer>45300</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Minimum Day</string>
		<key>bellTimes</key>
		<array>
			<dict>
				<key>desc</key>
				<string>Before School</string>
				<key>timeInterval</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 0</string>
				<key>timeInterval</key>
				<integer>26700</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 0</string>
				<key>timeInterval</key>
				<integer>27000</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 1</string>
				<key>timeInterval</key>
				<integer>28800</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 1</string>
				<key>timeInterval</key>
				<integer>29100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 2</string>
				<key>timeInterval</key>
				<integer>30900</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 2</string>
				<key>timeInterval</key>
				<integer>31200</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 3</string>
				<key>timeInterval</key>
				<integer>33000</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 3</string>
				<key>timeInterval</key>
				<integer>33300</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 4</string>
				<key>timeInterval</key>
				<integer>35100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 4</string>
				<key>timeInterval</key>
				<integer>35400</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Brunch</string>
				<key>timeInterval</key>
				<integer>37200</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 5</string>
				<key>timeInterval</key>
				<integer>37800</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 5</string>
				<key>timeInterval</key>
				<integer>38100</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 6</string>
				<key>timeInterval</key>
				<integer>39900</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 6</string>
				<key>timeInterval</key>
				<integer>40200</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Passing to Period 7</string>
				<key>timeInterval</key>
				<integer>42000</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>Period 7</string>
				<key>timeInterval</key>
				<integer>42300</integer>
			</dict>
			<dict>
				<key>desc</key>
				<string>After School</string>
				<key>timeInterval</key>
				<integer>44100</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Weekend</string>
		<key>bellTimes</key>
		<array>
			<dict>
				<key>desc</key>
				<string>Free</string>
				<key>timeInterval</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Holiday</string>
		<key>bellTimes</key>
		<array>
			<dict>
				<key>desc</key>
				<string>Free</string>
				<key>timeInterval</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
