<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>scheduleType</key>
		<string>Tutorial</string>
		<key>beginDate</key>
		<date>2019-01-14T08:00:00Z</date>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Odd Block</string>
		<key>beginDate</key>
		<date>2019-01-15T08:00:00Z</date>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Even Block</string>
		<key>beginDate</key>
		<date>2019-01-16T08:00:00Z</date>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Odd Block</string>
		<key>beginDate</key>
		<date>2019-01-17T08:00:00Z</date>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Even Block</string>
		<key>beginDate</key>
		<date>2019-01-18T08:00:00Z</date>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Holiday</string>
		<key>beginDate</key>
		<date>2019-01-21T08:00:00Z</date>
		<key>desc</key>
		<string>MLK Day</string>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Assembly</string>
		<key>beginDate</key>
		<date>2019-02-04T08:00:00Z</date>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Modified Even Block </string>
		<key>beginDate</key>
		<date>2019-02-06T08:00:00Z</date>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Modified Odd Block</string>
		<key>beginDate</key>
		<date>2019-02-07T08:00:00Z</date>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Holiday</string>
		<key>beginDate</key>
		<date>2019-02-18T08:00:00Z</date>
		<key>endDate</key>
		<date>2019-02-22T08:00:00Z</date>
		<key>desc</key>
		<string>Winter Break</string>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Holiday</string>
		<key>beginDate</key>
		<date>2019-03-18T07:00:00Z</date>
		<key>desc</key>
		<string>March Break</string>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Holiday</string>
		<key>beginDate</key>
		<date>2019-03-19T07:00:00Z</date>
		<key>desc</key>
		<string>Teacher Service Day</string>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Holiday</string>
		<key>beginDate</key>
		<date>2019-04-15T07:00:00Z</date>
		<key>endDate</key>
		<date>2019-04-19T07:00:00Z</date>
		<key>desc</key>
		<string>Spring Break</string>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Assembly</string>
		<key>beginDate</key>
		<date>2019-04-12T07:00:00Z</date>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Holiday</string>
		<key>beginDate</key>
		<date>2019-05-27T07:00:00Z</date>
		<key>desc</key>
		<string>Memorial Day</string>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Finals - Wednesday</string>
		<key>beginDate</key>
		<date>2019-06-05T07:00:00Z</date>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Finals - Thursday</string>
		<key>beginDate</key>
		<date>2019-06-06T07:00:00Z</date>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Finals - Friday</string>
		<key>beginDate</key>
		<date>2019-06-07T07:00:00Z</date>
	</dict>
	<dict>
		<key>scheduleType</key>
		<string>Holiday</string>
		<key>beginDate</key>
		<date>2019-06-10T07:00:00Z</date>
		<key>endDate</key>
		<date>2019-08-19T07:00:00Z</date>
		<key>desc</key>
		<string>Summer!</string>
	</dict>
</array>
</plist>
